head { 

}

.logo {
    margin-top:30%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:10%;
}

.centerimg{
    text-align:center;
    /**display:block;
    margin-top:300px;
    margin-left:auto;
    margin-right:auto;
    width:5%; 
    **/
}

#footerjustify{
    text-align: justify;
}

#footerjustify a {
    display: inline-block;
}

#footerjustify:after{
    content: '';
    width: 100%;
    display:inline-block;
}


.centered {
    /**top:50%;**/
    text-align:center;
    /**margin-left:50%;
    margin-top:30px;**/
    /**margin-left:auto;
    margin-right:auto;
    width: 50%
    **/
}

.headerbar{
    margin:10px;
    width:100%;
}


.footerbar{
    columns: #f70303;
    margin-top:300px;
    width:100%;
    background-color:#ddd6d6;
}
