head { 

}

.logo {
    margin-top:30%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:10%;
}

.centerimg{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:100px; 

}

#footerjustify{
    text-align: justify;
    }
#footerjustify a {
    display: inline-block;
    }
#footerjustify::after{
    content: '';
    widows: 100%;
    display:inline-block;
}


.centered {
    /**top:50%;**/
    margin-left:50%;
    margin-top:30px;
    /**margin-left:auto;
    margin-right:auto;
    width: 50%
    **/
}

.headerbar{
    columns: #f70303;
    margin:10px;
    width:100%;
    background-color:rgb(85, 78, 78);
}


.footerbar{
    columns: #f70303;
    margin-bottom:10px;
    width:100%;
    background-color:rgb(85, 78, 78);
}
