head { 

}

.logo {
    margin-top:30%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:40%;
}

.centerimg{
    display:block;
    margin-left:auto;
    margin-right:auto;

}

#footerjustify{
    text-align: justify;
    }

.centered {
    /**top:50%;**/
    margin:50%;
    /**margin-left:auto;
    margin-right:auto;
    width: 50%
    **/
}

.footerbar{
    columns: #f70303;
    margin:0;
    margin-left: 25%;
    width:75%;
    background-color:rgb(85, 78, 78);
}
